@keyframes moveInLeft {
    0% {
        opacity: 0;
        /* negative value means it goes more on left */
        transform: translateX(-100px);
    }

    80% {
        opacity: 0.8;
        transform: translateX(10px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        /* negative value means it goes more on left */
        transform: translateX(100px);
    }

    80% {
        opacity: 0.8;
        transform: translateX(-10px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        /* negative value means it goes more on left */
        transform: translateY(100px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}